:root {
  /* --background-sand: #fcf8ce; */
  --accent: #ea643b;

  /* Colors */
  --slide-part-bg: var(--pico-background-color);
  --slide-part-fg: var(--pico-color);

  --slide-header-bg: var(--pico-background-color);
  --slide-header-fg: var(--pico-color);

  --slide-footer-bg: var(--accent);
  --slide-footer-fg: #fff;

  /* Fonts */
  --pico-font-family: "Quicksand", sans-serif;
  --pico-font-family-monospace: "Inconsolata", monospace;
}


[lang="en"] {
  font-style: italic;
}

.slide {
  :is(h2, h3)::before {
    margin-right: .5em;
  }

  >header {
    padding-left: 4rem;
  }

  :is(h1, h2, h3) {
    --pico-font-family: "Mulish", sans-serif;
  }

  >footer {
    ul {
      color: var(--slide-footer-fg);
    }

    &::before {
      content: '';
      position: absolute;
      left: 1rem;
      top: -1.5rem;

      background-image: url('/icons/duke.png');
      background-size: contain;
      background-position: center;
      /* animation: 10s infinite alternate ease-in-out swing; */

      --size: 2rem;
      height: var(--size);
      width: var(--size);
    }
  }
}

@keyframes swing {
  from {
    transform: rotate(1turn);
  }

  to {
    transform: rotate(.8turn);
  }
}

.slide.part {
  h2 {
    font-size: 300%;
  }
}


/* Content */
li:is(.natif, .rust, .dioxus)::before {
  margin-right: .25em;
}

:is(li, h2, h3).natif::before {
  content: "🍦";
}

:is(li, h2, h3).rust::before {
  content: "🦀";
}

:is(li, h2, h3).dioxus::before {
  content: "🧬";
}

.slide[data-slide-id="33"],
.slide[data-slide-id="34"],
.slide[data-slide-id="35"],
.slide[data-slide-id="36"],
.slide[data-slide-id="46"],
.slide[data-slide-id="47"] {
  h3::before {
    content: '🍦';
  }
}

.slide[data-slide-id="49"],
.slide[data-slide-id="50"],
.slide[data-slide-id="51"],
.slide[data-slide-id="52"],
.slide[data-slide-id="53"],
.slide[data-slide-id="54"],
.slide[data-slide-id="55"],
.slide[data-slide-id="56"],
.slide[data-slide-id="57"],
.slide[data-slide-id="58"],
.slide[data-slide-id="62"] {
  h3::before {
    content: '🦀';
  }
}

.slide[data-slide-id="65"],
.slide[data-slide-id="66"],
.slide[data-slide-id="67"],
.slide[data-slide-id="79"] {
  h3::before {
    content: '🧬';
  }
}


.email {
  font-size: 80%;
}


.hashtag::before {
  --pico-font-family: var(--pico-font-family-monospace);
  content: "#JugSummerCamp";
}

.speaker::before {
  content: "Igor L.";
}

a:is(.discord, .mdn, .lit, .stencil, .github, .tool,
  .feedback,
  .crate, .dioxus, .ycombinator, .email, .book)::before {
  content: " ";
  height: 1em;
  width: 1em;
  display: inline-block;
  margin-right: .25em;
  text-decoration: none;
}

a.ycombinator::before {
  background: url("/icons/y-combinator.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

a.github::before {
  background: url("/icons/github.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

a.tool::before {
  content: "🧰";
}

a.email::before {
  content: "📧";
}

a.book::before {
  content: "📖";
}

a.feedback::before {
  content: "🤮 / 😻";
  width: unset;
}

a.crate::before {
  background: url("/icons/crate.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

a.dioxus::before {
  background: url("/icons/dioxus.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

a.discord::before {
  background: url("/icons/discord.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

a.mdn::before {
  background: url("/icons/mdn.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

a.lit::before {
  background: url("/icons/lit.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}


a.stencil::before {
  background: url("/icons/stencil.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* Custom slide - cover*/
.slide.cover[data-slide-id="0"] {
  background: url("/jugsummercamp.png");
  background-size: cover;
  background-position: center;

  hgroup {
    padding-top: 4rem;
    max-width: 70vw;

    strong {
      color: var(--accent);
    }

    p {
      color: var(--pico-muted-color);
    }
  }

  .ferris {
    height: 2em;
    position: absolute;
    right: 1rem;
    bottom: .5rem;
  }
}

/* Custom slide - whoami */
[data-slide-id="16"] {
  header * {
    --pico-font-family: var(--pico-font-family-monospace);
  }

  article {
    align-items: center;
    justify-content: center;
  }

  h3 {
    display: flex;
    align-items: center;
    gap: .25em;
  }

  img {
    height: 1em;

    &.avatar {
      height: 1.5em;
      border-radius: 50%;
      border: thin solid var(--pico-muted-color);
      box-shadow: 0 0 .1em var(--pico-muted-color);
    }
  }
}

/* Custom slide - roadmap */
[data-slide-id="17"] {
  header h3::before {
    content: '🗺️';
  }

  ol {
    list-style: upper-roman;
  }
}

/* Custom slide - Dioxus */
[data-slide-id="65"] {
  .links {
    display: flex;
    justify-content: space-evenly;
  }
}

/* Custom slide - ça depent */
[data-slide-id="82"] {
  pre {
    font-size: 0.8rem;
  }
}

/* Custom slide - merci */
[data-slide-id="85"] {
  background: url("/jugsummercamp.png");
  background-size: cover;
  background-position: center;


  >header,
  >footer {
    display: none;
  }

  .center {
    margin-top: 4rem;
    padding: .5rem 1rem;
    box-shadow: var(--pico-box-shadow);
    border-radius: .25rem;
    background: hsla(0, 100%, 100%, .3);
    grid-row: 2;
    justify-self: center;
    align-self: center;
  }

  .ferris {
    height: 2em;
    position: absolute;
    right: 1rem;
    bottom: .5rem;
  }
}